.categoryPage {
    .categoryItem {
        position: relative;
        width:100vw;
        height:60vh;
        img {
            object-fit: cover;
            width:100%;
            height:100%;
        }
        .title-container {
            background-color: rgba(0, 0, 0, 0.486);
            clip-path: polygon(24% 0, 100% 9%, 64% 76%, 11% 39%);
            padding: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 20;
            transition: all 0.8s ease-in;
            &:hover {
                cursor: pointer;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            span {
                display:inline-block;                
                font-size: 2rem;
                color:rgb(255, 255, 255);
                transition: all 0.7s ease-in;
                &:hover {
                    color:rgb(255, 97, 23);
                    transform:translateY(-5px)
                }
            }
        }
        }
        
}